 <table id="levelid" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Niveau</th>
                <th>Scopeanalysis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for level in levels %}
            <tr>
                <td><a href="{{ path('level_show', { 'id': level.id }) }}">{{ level.id }}</a></td>
                <td>{{ level.name }}</td>
                <td>{{ level.description }}</td>
                <td>{{ level.niveau }}</td>
                <td>{% if level.scopeAnalysis %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a class="btn btn-success btn-sm" onclick="updateLevel('{{ level.id }}')"><i class="glyphicon glyphicon-pencil"></i></a>
                    {#<a href="{{ path('level_show', { 'id': level.id }) }}">show</a>#}
                </td>
            </tr>
            <div class="modal fade" id="frmUpdateLevel{{ level.id }}" tabindex="-1" role="dialog" type_operationaria-labelledby="frmAxeModal" aria-hidden="true" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="box-header well" data-original-title="">
                                <h2 style="margin-top: 0px;font-size: 18px"><i class="glyphicon glyphicon-edit"></i> Modifier un niveau</h2>
                                <div class="box-icon" style="float: right; margin-top: -34px">
                                    <a style="padding: 5px; border-radius: 50px" href="#" id="closeLevel{{ level.id }}" class="btn btn-close btn-round btn-default" data-dismiss="modal" aria-hidden="true">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="box">
                                <div class="box-inner">
                                    <div class="box-content" id="contentModalLevel{{ level.id }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>

 <script>
     $("#levelid").DataTable();
 </script>