{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .bootstrap-select>.dropdown-toggle {
            padding-right: 25px;
            z-index: 1;
            border: 1px solid #CCC;
            color: black;
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: auto !important;
            margin-right: 25px;
        }
        .bootstrap-select.btn-group .dropdown-menu li {
            position: relative;
            font-size: 16px;
            color: #3277b2;
        }
        .bootstrap-select.btn-group .dropdown-menu li a.opt {
            position: relative;
            padding-left: 2.25em;
            font-size: smaller;
        }
    </style>
{% endblock %}
{% block analyze %}
<div class="box box-primary">
    <div class="box-body" ng-controller="analyzeController">
        <form id="formAnalyse" class="form-inline" name="myForm" style="margin-bottom: 15px">
            <div class="form-group ">
                <label for="numcompte">Composant à analyser:</label>
                <select ng-model="formData.composant" class="form-control" id="numcompte" required>
                    <option></option>
                    {% for comp in composants %}
                        <option value="{{ comp.id}}">{{ comp.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group ">
                <label for="axe">Choisir un axe :</label>
                <select  ng-model="formData.axe" class="form-control select" id="axe" required>
                    <option></option>
                    {% for axe in axes  %}
                        <option class="option" value="{{ axe.code }}">{{ axe.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group ">
                <label for="axe">Choisir un niveau</label>
                <select  ng-model="formData.level" class="form-control select" id="axe" required>
                    <option></option>
                   {% for level in levels %}
                       <option value="{{ level.niveau }}">{{ level.name }}</option>
                       {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button type="button" ng-click="analyser(formData)" class="btn btn-default">Analyser</button>
            </div>
        </form>
    </div>
</div>

    {% endblock %}
{% block body %}
    <div ng-controller="analyzeController">
        <div id="container" style="width:100%; height:400px;"></div>
        <div style="margin-top: 10px" class="col-lg-6 col-md-6 col-xs-12">
            <div class="" id="chartContainer"></div>
        </div>
        <div style="margin-top: 10px"  class="col-lg-6 col-md-6 col-xs-12" >
            <div id="pieContainer"></div>
        </div>
        {#<div class="" id="chartContainer2"></div>#}
    </div>
{% endblock %}

{% block javascripts %}
        <script>
            $(document).ready(function () {
                $('.select').selectpicker();
            });
        </script>
{% endblock %}